/* global styles ------------------------------------------------------------ */
html{
  box-sizing: border-box;
}

*,*:before, *:after{
  box-sizing: inherit;
}

body{
  color: #040118;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img{
  width:300px;
}

a{
  color: #FFFFFF;
  text-decoration: none;
}

a:hover{
  color: rgba(255,255,255, 0.5);
}

h1{
  font-family: 'Mansalva', cursive;
  font-size: 80px;
}

h2{
  font-family: 'Delius Unicase', cursive;
  font-size: 35px;
}

h1, h2{
  font-weight: 400;
  margin:0;
}

.content-wrap{
  max-width:800px;
  width: 85%;
  margin: 0 auto;
  padding:60px 0;
}

.item-details h3{
  margin-bottom: 0;
}

.item-details h3 + p{
  font-style: italic;
}

.item-details h3 ~ p{
  margin: 0;
}

.divider > section{
  border-bottom: 1px dashed #808080;
  padding: 20px 0;
}

.divider > section:last-of-type{
  border-bottom: none;
}

/* profile ------------------------------------------------------------------ */
header{
  background: #fdfedd;
  color: #e11b0f;
  text-align: center;
}

/* projects ----------------------------------------------------------------- */
.projects{
  background: #64cd89;
  color: #111c5e;
}

.projects .btn{
  color: white;
  background: #111c5e;
  text-decoration: none;
  padding: 8px;
  border-radius: 7px;
  display: inline-block;
}

.projects .btn:hover{
  background: rgba(17,28,94,75%);
}

.project-item{
  overflow: hidden;
}

.project-item img{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.project-item h3{
  margin-top: 0;
}

/* work ex ------------------------------------------------------------------ */
.work{
  background: #f7a4a9;
  background-image: url(../images/bg.jpeg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  color: #2a3f79;
}

.work a{
  color: #d31527;
}

.work a:hover{
  color: rgba(211,21,39, 0.5);
}

.work p{
  width: 60%;
}

/* education ---------------------------------------------------------------- */
.education{
  background: #bab7b2;
  color: #70181f;
}

.edu-item{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
}

/* contact info ------------------------------------------------------------- */
footer{
  background: #0c0216;
  color: #fe1859;
  text-align: center;
}

footer h2{
  font-family: 'Mansalva', cursive;
}

footer a{
  color: #dd0356;
}

footer a:hover{
  color: rgba(221,3,86, 0.5);
}

.contact-list{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-list a{
  padding: 30px;
  display: inline-block;
}

.fa {
  background-color: #f7fee3;
  border-width: 3px;
  border-style: solid;
  border-color: #677bb1;
  border-image: initial;
  border-radius: 50% 50% 50% 50%;
  padding: 10px 13px 10px 13px;
}

/* Responsive --------------------------------------------------------------- */

@media screen and (max-width:940px) {
  .project-item img{
    float: none;
  }
  .work{
    background-position: bottom;
  }
}

@media screen and (max-width:650px) {
  h1{
    line-height: 0.9;
    margin-bottom: 20px;
  }

  .work{
    background-position: bottom;
  }

  .item-details h3{
    margin-bottom: 10px;
  }

  .item-details h3 + p{
    margin-bottom: 10px;
  }
}
