attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
chromedriver-py.90
click
colorama
exceptiongroup
Flask
h11
idna
itsdangerous
Jinja2
MarkupSafe
numpy
outcome
packaging
pandas
pycparser
PySocks
python-dateutil
python-dotenv
pytz
requests
selenium
six
sniffio
sortedcontainers
soupsieve
tqdm
trio
trio-websocket
tzdata
urllib3==1.26.6
webdriver-manager
Werkzeug
wsproto
