*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none !important;
}

/* BASE ------------------------------------------------------------- */
.pageContent {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* SOCIAL ------------------------------------------------------------- */
#socialIcons {
  margin-top: 10px;
}

#socialIcons .fa-brands {
  margin-left: 10px;
  margin-right: 10px;
  color: #000;
}

#socialIcons .fa-brands:hover {
  color: rgba(0, 0, 0, 0.8);
}

/* HOME ------------------------------------------------------------- */

#projects {
  height: 100%;
  display: flex;
}

#projects .card {
  margin: 5px 5px;
  color: white;
  background-position: center;
}

#projects .card-title {
  font-size: 2rem;
}

#projects .card-title {
  font-size: 2rem;
}

#projects .project-btn {
  margin: 31px auto 0;
  padding: 10px 17px 10px 16px;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #000;
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

#projects .project-btn:hover {
  text-decoration: none;
}

#projects .project-btn::before,
#projects .project-btn span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

#projects .project-btn:hover {
  background-color: #000;
}

#projects .project-btn:hover span {
  color: transparent;
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

#projects .project-btn::before {
  content: attr(link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

#projects .project-btn:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

/* RESEARCH ------------------------------------------------------------- */
#research .research-btn {
  margin: 5px auto 0;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #000;
  border: #000 0.5px solid;
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

#research .research-btn:hover {
  text-decoration: none;
}

#research .research-btn::before,
#research .research-btn span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

#research .research-btn:hover {
  background-color: #000;
}

#research .research-btn:hover span {
  color: transparent;
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

#research .research-btn::before {
  content: attr(link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

#research .research-btn:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

/* CERTIFICATES ------------------------------------------------------------- */
#certificates .card-img-top {
  border: #000 0.5px solid;
}

#certificates .certificate-btn {
  margin: 5px auto 0;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  border: #8e8e8e 0.5px solid;
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

#certificates .certificate-btn:hover {
  text-decoration: none;
}

#certificates .certificate-btn::before,
#certificates .certificate-btn span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

#certificates .certificate-btn:hover {
  background-color: #ffffff;
}

#certificates .certificate-btn:hover span {
  color: transparent;
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

#certificates .certificate-btn::before {
  content: attr(link-text);
  color: #000000;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

#certificates .certificate-btn:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

.modal img {
  border: #000 0.5px solid;
  margin-bottom: 10px;
}

/* FOOTER ------------------------------------------------------------- */
#footer {
  /* position: absolute; */
  bottom: 10px;
  letter-spacing: 2px;
}
