html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: sans-serif;
}

body {
  padding-top: 2rem;
}

a {
  text-decoration: none !important;
}

#detailsParent {
  display: table;
}

#details {
  display: table-cell;
  vertical-align: middle;
  border: rgb(105, 105, 105) 4px solid;
}

#details .name {
  font-size: 3rem !important;
	font-family: 'Merriweather', serif;
}

#details .desc {
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}

.resume-btn {
	text-align: center;
  position: relative;
  padding: 2% 5%;
  margin: 23px auto 0;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 8px 0 #0b3954;
  text-decoration: none;
}

.resume-btn:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

.resume-btn:focus,
.resume-btn:active {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  box-shadow: none;
  top: 8px;
}

#socialIcons {
	margin-top: 30px;
}

#socialIcons .fa-brands{
	margin-left: 10px;
	margin-right: 10px;
  color: #000;
}

#socialIcons .fa-brands:hover{
  color: rgba(0, 0, 0, 0.8);
}

#projects .card {
  display: table;
  margin: 5px auto;
  color: white;
  background-position: center;
}

#projects .card-body {
  display: table-cell;
  vertical-align: middle;
}

#projects .card-title {
  font-size: 2rem;
}

#projects .card-title {
  font-size: 2rem;
}

#projects .project-btn {
  margin: 31px auto 0;
  padding: 10px 17px 10px 16px;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #000;
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  display: var(--uismLinkDisplay);
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}

#projects .project-btn:hover {
  text-decoration: none;
}

#projects .project-btn::before,
#projects .project-btn span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

#projects .project-btn:hover {
  background-color: #000;
}

#projects .project-btn:hover span {
  color: transparent;
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

#projects .project-btn::before {
  content: attr(link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

#projects .project-btn:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}
