{% extends 'base.html' %}

{% block mainContent %}
<section id="certificatesParent" class="container-fluid">
	<div class="container-fluid">
		<h2>Certificates</h2>

		<div id="certificates" class="row" data-masonry='{"percentPosition": true }'>

			<!-- internship certificates -->
			{% for certificate in intern_certs %}
			<div class="col-sm-6 col-lg-4 mb-3">
				<div class="card card-block align-middle">
					<a
						href="{{ url_for('static', filename='data/certificates/internships'+certificate.certificate) }}"
						target="_blank">
						<img
							src="{{ url_for('static', filename='data/certificates/internships'+certificate.certificate) }}"
							class="card-img-top img-fluid">
					</a>
					<div class="card-body">
						<h5 class="card-title">{{certificate.role}}<br /><em>{{certificate.company}}</em></h5>
						<p>{{certificate.start_date}} - {{certificate.end_date}}</p>
						<p class="card-text">
							<b>Description: </b>{{certificate.desc}}
						</p>
						{% if certificate.lor %}
						<a
							href="{{ url_for('static', filename='data/certificates/internships'+certificate.lor) }}"
							class="btn certificate-btn"
							link-text="View"
							target="_blank">
							LOR
						</a>
						{% endif %}
					</div>

					<div class="card-footer">
						<span class="badge rounded-pill bg-primary">
							<em>Internship</em>
						</span>
					</div>
				</div>
			</div>
			{% endfor %}

			<!-- course certificates -->
			{% for certificate in course_certs %}
			<div class="col-sm-6 col-lg-4 mb-3">
				<div class="card card-block align-middle">
					<a
						href="{{ url_for('static', filename='data/certificates/courses'+certificate.certificate) }}"
						target="_blank">
						<img
							src="{{ url_for('static', filename='data/certificates/courses'+certificate.certificate) }}"
							alt="certificate"
							class="card-img-top img-fluid" />
					</a>
					<div class="card-body">
						<h5 class="card-title">{{certificate.course_name}}<br /><em>{{certificate.organizer}}</em></h5>
						<p>{{certificate.date}}</p>
						<!-- <p class="card-text">
							<b>Description: </b>{{certificate.skill}}
						</p> -->
					</div>

					<div class="card-footer">
						<span class="badge rounded-pill bg-success">
							<em>Course - {{certificate.skill}}</em>
						</span>
					</div>
				</div>
			</div>
			{% endfor %}

			<!-- college certificates -->
			{% for certificate in college_certs %}
			<div class="col-sm-6 col-lg-4 mb-3">
				<div class="card card-block align-middle">
					<a
						href="{{ url_for('static', filename='data/certificates/college'+certificate.certificate) }}"
						target="_blank">
						<img
							src="{{ url_for('static', filename='data/certificates/college'+certificate.certificate) }}"
							alt="certificate"
							class="card-img-top img-fluid" />
					</a>
					<div class="card-body">
						<h5 class="card-title">{{certificate.event}}<br /><em>{{certificate.role}}</em></h5>
						<p>{{certificate.date}}</p>
						<p class="card-text">
							<b>Description: </b>{{certificate.desc}}
						</p>
					</div>

					<div class="card-footer">
						<span class="badge rounded-pill text-dark bg-warning">
							<em>College - {{certificate.category}}</em>
						</span>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</section>
{% endblock %}
