{% extends 'base.html' %}
{% load static %}
{% static "data/certificates/college/" as collegeCertsPath %}
{% static "data/certificates/courses/" as courseCertsPath %}
{% static "data/certificates/internships/" as internCertsPath %}

{% block mainContent %}
<section id="homeContainer" class="container">
	<div class="row">
		<div class="col-9">
			<h2>Biography</h2>
			<p class="desc">
				Artificial Intelligence programmer with experience in Machine Learning, Deep Neural Networks, Data Analytics, and Web Scraping applications.
				<br />
				I am currently pursuing my bachelor's of technology in Artificial Intelligence at Amity University, Noida, Uttar Pradesh, India. In my spare time, I read, draw, and take pictures of beautiful things.
			</p>

			<h2>Research Areas</h2>
			<p class="desc">
				Artificial Intelligence, Machine Learning, Deep Learning, Computer Vision, Natural Language Processing
			</p>

			<h2>Social</h2>
			<div id="socialIcons">
				<a target="_blank" href="https://www.linkedin.com/in/ishani-kathuria/">
					<i class="fa-brands fa-2x fa-linkedin-in"></i>
				</a>
				<a target="_blank" href="https://github.com/ikathuria">
					<i class="fa-brands fa-2x fa-github"></i>
				</a>
				<a target="_blank" href="https://orcid.org/0000-0001-7345-7405">
					<i class="fa-brands fa-2x fa-orcid"></i>
				</a>
				<a target="_blank" href="https://medium.com/@ishani-kathuria">
					<i class="fa-brands fa-2x fa-medium"></i>
				</a>
				<a target="_blank" href="https://www.instagram.com/ishani_creates/">
					<i class="fa-brands fa-2x fa-instagram"></i>
				</a>
			</div>
		</div>
		<div class="col-3">
			<img
				src="https://media-exp1.licdn.com/dms/image/C4D03AQFp-gO_EfYmmg/profile-displayphoto-shrink_800_800/0/1653822480555?e=1668038400&v=beta&t=pIbyzSRhpNlMjSwQUDRSJowLM5SKLSxFlQul0iydj64"
				class="img-fluid img-thumbnail rounded-circle"
				alt="Ishani-Kathuria-profile-image"
			>
		</div>
	</div>
</section>

<!-- <div class="container-fluid row">
	<h2 class="display-2">Certificates</h2>

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".intern-certs-modal">
		Internship certificates
	</button>

	<div class="modal intern-certs-modal" tabindex="-1" role="dialog" aria-labelledby="internCertificates" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-center">
				<h3 class="modal-title">Internship certificates</h3>

				<div class="modal-body">
					{% for cert in intern_certs %}
					<img src="{{internCertsPath}}{{cert}}" class="img-fluid mb-2">
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<hr />

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".course-certs-modal">
		Courses certificates
	</button>

	<div class="modal course-certs-modal" tabindex="-1" role="dialog" aria-labelledby="courseCertificates" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-center">
				<h3 class="modal-title">Courses certificates</h3>

				<div class="modal-body">
					{% for cert in course_certs %}
					<img src="{{courseCertsPath}}{{cert}}" class="img-fluid mb-2">
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<hr />

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".college-certs-modal">
		College certificates
	</button>

	<div class="modal college-certs-modal" tabindex="-1" role="dialog" aria-labelledby="collegeCertificates" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-center">
				<h3 class="modal-title">College certificates</h3>

				<div class="modal-body">
					{% for cert in college_certs %}
					<img src="{{collegeCertsPath}}{{cert}}" class="img-fluid mb-2">
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div> -->
{% endblock %}
