{% extends 'base.html' %}
{% load static %}

{% block mainContent %}
<section id="projectsParent" class="container-fluid">
    <div id="projects" class="row">
        {% for repo in repos %}
        <div id="projects-card-parent" class="col-md-4 h-100 d-table">
            <div
                class="card card-block d-table-cell align-middle"
                style="width: 100%; height: 25rem;
                        background-image: linear-gradient(rgba(10, 10, 10, .6), rgba(0, 0, 0, .9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px), url('{{ repo.image }}');"
            >
                <div class="card-body text-center">
                    <h5 class="card-title">{{ repo.repo }}</h5>
                    <p class="card-text">{{ repo.description }}</p>
                    <a
                        href="{{ repo.link }}"
                        class="btn project-btn"
                        target="_blank"
                        link-text="On GitHub!">
                        <span>
                            See the code!
                        </span>
                    </a>

                    {% if repo.website %}
                    <a
                        href="{{ repo.website }}"
                        class="btn project-btn"
                        target="_blank"
                        link-text="Let's go!">
                        <span>
                            See live project
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
