{% extends 'base.html' %}

{% block mainContent %}
<section id="research" class="container">
    <a href="https://orcid.org/0000-0001-7345-7405" target="_blank">
        ORCID: 0000-0001-7345-7405 
    </a>

    <h2>Research Papers</h2>
    <div class="card-group">
        {% for paper in papers %}
        <div class="card card-block align-middle">
            <div class="card-header">
                DOI: <a href="{{paper.DOI}}">{{paper.DOI}}</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{paper.title}}</h5>
                <p class="card-text">
                    <b>Abstract—</b>
                    <em>
                        {{paper.abstract}}
                    </em>
                </p>
                <a
                    class="btn research-btn"
                    link-text="Bibtex"
                    data-toggle="collapse"
                    href="#citationCollapse"
                    role="button"
                    aria-expanded="false"
                    aria-controls="citationCollapse"
                >
                    Citation
                </a>
                <div class="collapse" id="citationCollapse">
                    {{paper.bibtex}}
                </div>
                <br />
                <a
                    href="{{paper.DOI}}"
                    class="btn research-btn"
                    target="_blank"
                    link-text="On {{paper.publisher}}">
                        See the published paper!
                </a>
            </div>
            <div class="card-footer">
                Published in: <a href="{{paper.publisher_link}}">
                    {{paper.publisher_name}}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
