{% extends "base.html" %}

{% block resume %}
<section class="container" style="position: relative;">
    <iframe
        src="https://drive.google.com/file/d/193MZI-wfpPOmivmMCZ-PggKaQvjxTpiO/preview"
        frameBorder="0"
        scrolling="auto"
        height="100%"
        width="100%"
        style="
            overflow: hidden;
            overflow-x: hidden;
            overflow-y: hidden;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;"
    ></iframe>
</section>
{% endblock %}